---
layout: default
title: Net Worth
class: net-worth
---

<h1>Net Worth</h1>

<div class="flex-row">
  <div class="flex-small">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Shares</th>
          <th>Property</th>
          <th>Cash</th>
          <th>Total</th>
          <th>% Change</th>
        </tr>
      </thead>
      <tbody>
        {% for value in site.data.networth %}
        <tr>
          <td>{{ value["date"] | date: "%B" }}</td>
          <td>{{ value["shares"] | money }}</td>
          <td>{{ value["property"] | money }}</td>
          <td>{{ value["cash"] | money }}</td>
          <td>
            <span class="total">{{
              value["shares"]
                | plus: value["property"]
                | plus: value["cash"]
                | money
            }}</span>
          </td>
          <td><span class="percent-change"></span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="flex-row" style="display:none;">
  <div class="flex-small">
    <canvas height="400" id="networth" width="400"></canvas>
  </div>
</div>

<link
  href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"
  rel="stylesheet"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

<script>

  let total = document.getElementsByClassName('total');
  let totalArray = [];
  for (const value of total) {
      totalArray.push(Number(value.innerHTML.replace(/[^0-9\.]+/g, "")));
  }
  console.log(totalArray);

  var lastobj = '';
  for (const key in totalArray) {
    // let thisValue = Number(total[key].innerHTML.replace(/[^0-9\.]+/g, ""));
    // if(lastobj) {
    //     let lastValue = Number(lastobj.innerHTML.replace(/[^0-9\.]+/g, ""));
    // }

    console.log(totalArray[key]);

    if(lastobj) {
        console.log(lastobj);
    }

    var i = Object.keys(totalArray).indexOf(key);

    let thisValue = totalArray[key];
    let lastValue = lastobj;

    if (i > 0) {
        let percentChange = Math.round(100*(thisValue-lastValue) / thisValue * 100)/100;
        document.getElementsByClassName('percent-change')[i].innerHTML = percentChange;
    }

    lastobj = totalArray[key]
  }

  var ctx = document.getElementById("networth");
  var data = {
      datasets: [{
            data: [
            {% for value in site.data.networth %}
                {{ value["shares"] + value["property"] + value["cash"] }},
            {% endfor %}
            ]
      }],

      labels: [
        'January',
        'February',
      ]
  };
  var chart = new Chart(ctx, {
      type: 'line',
      data: data
  });
</script>
