<div class="sr-only">
    <a class="sr-only-focusable" href="#content">Skip to content</a>
    <a class="sr-only-focusable" href="#navigation">Skip to navigation</a>
</div>
<header>
    <div class="logo">Dan's Gems</div>
    <nav id="navigation">
        <ul>
            {% for item in site.data.navigation %}
                <li>
                    <a href="{{ item.link }}" {% if page.url == item.link %} class="selected" {% endif %}>
                        {{ item.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>