header {
    float: left;
    .logo {
        font-size: 1.5rem;
        font-weight: bold;
    }
}
nav {
    float: right;
    ul {
        float: left;
        width: 100%;
        margin: 0;
        padding: 0;
        li { 
            float: left;
            display: inline;
            margin: 0 0.5rem;
            &:first-child {
                margin-left: 0;
            }
            a {
                padding: 0.5rem;
                display: block;
            }
        }
    }
}
main {
    float: left;
    width: 100%;
}